.container {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: #ff9999;
}

.name{
    font-family: Brush Script MT;
    font-size: 70px;
}

.header li {
    display: inline-block;
}

input[type="text"] {
    margin: 25px;
    height: 25px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid pink;
    border-radius: 5px;
    outline:none;
    padding: 12px 14px;
    transition:0.6s ease-in-out;
}
input[type="text"]:focus{
    width:500px; 
    background-color: #ffe5e5;
}

.header .logo {
    height: 100%;
    margin-left: 70px;
    align-items: center;
}

.display-flex {
    display: flex;
}

.shopping-icon {
    margin-right: 25px;
}
.header .icon, .header .shopping-cart {
    float: left;
    height: 100%;
    display: flex;
    margin-right: 35px;
    align-items: center;
}

.marqueeFont {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 2px;
}

#btn_account{
    border-radius: 50%;
}
.menu {
    width: 100%;
    height: 45px;
    /* background-color: crimson; */
    background-color: red;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 45px;
    text-align: center;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
    text-align: center;
    padding: 13px;
}

.menu a {
    width: 150px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    color: white;   
}

.menu li:hover {
    background-color: tomato;
    color: white;
}

.main {
    width: 100%;
    /* height: 100%; */
    height: auto;
    display: flex;
}
 
.left_sidebar, .right_sidebar{
    float: left;
    width: 140px;
    background-color: red;
}


.left_sidebar, .right_sidebar{
    color: yellow;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid yellow;
    display: flex;
}
.left_sidebar p, .right_sidebar p {
    /* display: flex; */
    line-height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.left_sidebar img, .right_sidebar img  {
    margin: 5px;
    width: 140px;
    height: 500px;
    display: flex;
    float: left;
    overflow: visible;
}

.breackscrum {
    background-color: aliceblue;
    height: 25px;
}
.accessories {
    margin-top: 5px;
    width: 200px;
    height: 1000px;
    float: left;
}

.accessories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: red;
}

.accessories li a {
    color: white;
    display: block;
    width: 180px;
    padding: 8px 10px;
    text-decoration: none;
    text-align: left;
}

.accessories li a.active {
    background-color: red;
    color: white;
}

.accessories li a:hover {
    background-color: tomato;
    color: white;
}

.center {
    float: left;
    width: 1040px;
    height: auto;
}
.banner {
    width: 1035px;
    margin: 5px;
    background: rgb(250, 250, 150);
    height: 200px;
}
hr{
    margin-top: 20px;
}
.colorRed
{
    color: red;
    
}
.sort-select {
    float: left;
    position: relative;
    /* margin-bottom: 10px; */
}

.sort-select .click-sort {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    line-height: 12px;
    padding: 6px 16px 6px 8px;
    margin-bottom: 5px;
    margin-top: 130px;
}
.sort-select .sort-show {
    padding-right: 12px;
    position: relative;
}
.sort-select .sort-show::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: '';
    height: 0;
    position: absolute;
    top: 10px;
    left: 75px;
    right: 0;
    width: 0;
}
.sort-select-main {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
    display: none;
    position: absolute;
    padding: 0 7px;
    top: 30px;
    right: 0;
    width: 160px;
    z-index: 2;
}
.sort-select-main p {
    border-bottom: 1px solid #f1f1f1;
}
.sort a {
    color: #000;
    font-size: 14px;
    line-height: 17px;
    padding: 11px 3px;
    display: block;
}

.content {
    /* background-color: red; */
    /* width: 1203px;
    height: 1000px; */
    width: 100%;
    height: auto; 
}

.Products {
    background-color: red;
    float: left;
    width: 1040px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    flex-direction: row;
    text-align: center;
}

.product {
    border-radius: 5px;
    float: left;
    background-color: white;
    margin: 5px;
}

.product img {
    margin: 10px;
    width: 250px;
}

.footer {
    float: left;
    background-color: #ff9999;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .name-project {
    margin-left: 10px;
}

.footer .infor-author {
    display: flex;
    justify-content: center;
    width: 80%;
}

.footer .author-1 {
    margin-right: 250px;
}