.container {
    width: 100%;
    height: auto;
}

.container a.active {
    background-color: #2196F3;
    color: white;
}


.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: #ff9999;
}

.header li {
    display: inline-block;
}

input[type="text"] {
    margin: 25px;
    height: 25px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid pink;
    border-radius: 5px;
    outline:none;
    padding: 12px 14px;
    transition:0.6s ease-in-out;
}
input[type="text"]:focus{
    width:500px; 
    background-color: #ffe5e5;
}

.header .logo {
    height: 100%;
    margin-left: 70px;
    align-items: center;
}

.header .logo img {
    margin: 5px;
    height: 50%;
    border-radius: 50%;
}

.display-flex {
    display: flex;
}

.img-64px {
    height: 64px;
    width: 64px;
}

.header .icon {
    height: 100%;
    display: flex;
    margin-right: 75px;
    align-items: center;
}

.header .icon img {
    margin: 5px;
    height: 50%;
    border-radius: 50%;
}

#btn_account{
    border-radius: 50%;
}
.menu {
    width: 100%;
    height: 45px;
    background-color: powderblue;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.menu li {
    padding: 14px 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}


.main {
    width: 1800px;
    height: 1000px;
    display: flex;
}
 
.left_sidebar, .right_sidebar{
    float: left;
    width: 150px;
    height: 1000px;
    background-color: red;
    /* display: flex; */
}

.left_sidebar img, .right_sidebar img  {
    margin: 5px;
    width: 140px;
    height: 500px;
    display: flex;
    float: left;
    overflow: visible;
}
.accessories {
    margin-top: 5px;
    width: 200px;
    height: 1000px;
    float: left;
}

.accessories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: tomato;
}

.accessories li a {
    color: white;
    display: block;
    width: 200px;
    padding: 8px 16px;
    text-decoration: none;
}

.accessories li a.active {
    background-color: wheat;
    color: white;
}

.accessories li a:hover {
    background-color: #ff9999;
    color: white;
}

.Products {
    background-color: red;
    float: left;
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    flex-direction: row;
    text-align: center;
}

.product {
    border-radius: 5px;
    float: left;
    /*background-color: transparent;*/
    background-color: white;
    margin: 5px;
}

.product img {
    margin: 10px;
    width: 250px;
}


.footer {
    float: left;
    background-color: cornflowerblue;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .name-project {
    margin-left: 10px;
}

.footer .infor-author {
    display: flex;
    justify-content: center;
    width: 80%;
}

.footer .author-1 {
    margin-right: 250px;
}