@import url(style.css);

.content {
    margin: 5px;
    float: left;
    width: 992px;
    height: 105vh;
    display: grid;
    /* grid-template-columns: 33.3% 33.3% 33.3%; */
    /* flex-direction: row; */
    text-align: center;
}